<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html" />

<dom-module id="componente-cuentas">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

   <div hidden$="[[!muestraTransfers]]">
     <componente-transferencias id="transferAccount" on-regresar="regresarEventTransfers"></componente-transferencias>
   </div>
   <div hidden$="[[!muestraCuentas]]">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   <h4>Consulta de cuentas:</h4>
   <table class="table table-striped">
     <thead>
       <tr>
         <th scope="col">Número de Cuenta</th>
         <th scope="col">Saldo Contable</th>
         <th scope="col">Saldo Disponible</th>
         <th scope="col">Acciones</th>
       </tr>
     </thead>
     <tbody>
       <template is="dom-repeat" items="{{cuentas}}">
         <tr>
           <td>{{item.nroCuenta}}</td>
           <td>{{item.saldoContable}}</td>
           <td>{{item.saldoDisponible}}</td>
           <td>
             <button  class="btn btn-primary" on-click="panelmovimientos">Ver Movimientos</button>
             <button  class="btn btn-primary" on-click="paneltransferencias">Realizar Transferencia</button>
           </td>
         </tr>
       </template>
     </tbody>
   </table>
  </div>
   <div hidden$="[[!muestraMovs]]">
     <componente-movimientos idcue="{{idcue}}" on-regresar="regresarEventMovs"></componente-movimientos>
   </div>


    <iron-ajax
       id="getAccount"
       url="http://localhost:3000/techu/v2/accounts/{{userid}}"
       handle-as="json"
       method="GET"
       on-response="showAccount">

  </template>
  <script>
  class ComponenteCuentas extends Polymer.Element {
    static get is() { return 'componente-cuentas'; }
    static get properties() {
      return {
        userid: {
          type: Number,
          observer: '_idChanged'
        }, cuentas: {
          type: Array
        }, idCuenta: {
          type: String
        }, nroCuenta: {
          type: String
        }, saldoContable: {
          type: String
        }, saldoDisponible: {
          type: String
        }, movimientos: {
          type: Array
        }, muestraMovs: {
          type: Boolean,
          value: false
        }, muestraCuentas: {
          type: Boolean,
          value:true
        }, muestraTransfers: {
          type: Boolean,
          value:false
        }, transfers: {
          type: Array
        }
      };
    }

    _idChanged(){
      this.$.getAccount.generateRequest();
    }

    showAccount(data){
       console.log(data.detail.response);
       console.log("Entró a showAccount");
 // mLab nos devuelve un array con el objeto solicitado por eso [0]

       this.cuentas = data.detail.response;
       this.set('cuentas',data.detail.response);
       this.muestraCuentas=true;
       this.muestraMovs=false;
       this.muestraTransfers=false;
//       this.nroCuenta = data.detail.response[0].nroCuenta;
//       this.saldoContable = data.detail.response[0].saldoContable;
//       this.saldoDisponible = data.detail.response[0].saldoDisponible;
//       console.log("idusu:" +this.idusu);
     }

    panelmovimientos(e){
      console.log("pulsa boton movimientos");
      this.idcue = e.model.__data.item.idCuenta;
      console.log("idcue "+this.idcue);
      console.log(this.userid);
      console.log(this.muestraMovs);
      this.muestraMovs=true;
      console.log(this.muestraMovs);
      this.muestraCuentas=false;
      this.muestraTransfers=false;
      this.dispatchEvent(new CustomEvent('movimientos',
                  {detail:{userid:this.userid,idcue:this.idcue,nrocuenta:this.nroCuenta,muestraMovs:this.muestraMovs,muestraCuentas:this.muestraCuentas}}))
    }

   paneltransferencias(e){
      console.log("pulsa boton transferencias");
      this.$.transferAccount.idcue = e.model.__data.item.idCuenta;;
      this.$.transferAccount.cuentaCargo=e.model.__data.item.nroCuenta;
      this.$.transferAccount.saldoDisponible=e.model.__data.item.saldoDisponible;
      this.muestraCuentas=false;
      this.muestraMovs=false;
      this.muestraTransfers=true;
      console.log("muestraTransfers:"+this.muestraTransfers);
      console.log("muestraMovs:"+this.muestraMovs);
    }
//    mostrarDatosRecibidoscuentas(data){
//      console.log("Receptor Cuentas:"+JSON.stringify(data))
//      this.idusu=data.idusu;
//    }

      regresarEventTransfers(e) {
        this.muestraTransfers = false;
        this.muestraCuentas = true;
      }

      regresarEventMovs(e) {
        this.muestraMovs = false;
        this.muestraCuentas = true;
      }

  }
  window.customElements.define(ComponenteCuentas.is, ComponenteCuentas);
  </script>
</dom-module>
