<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html" />
<link rel="import" href="componente-usuarios-agregar.html" />

<dom-module id="componente-usuarios">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   <div hidden$="[[!goUsuariosBuscar]]">
   <h4>Consulta de usuarios</h4>
  <button  class="btn btn-primary" on-click="agregar_usuario">Agregar Usuario</button>
   <table class="table table-striped">
     <thead>
       <tr>
         <th scope="col">Id. Usuario</th>
         <th scope="col">Nombres</th>
         <th scope="col">Apellidos</th>
         <th scope="col">Email</th>
       </tr>
     </thead>
     <tbody>
       <template is="dom-repeat" items="{{usuarios}}">
         <tr>
           <td>{{item.id}}</td>
           <td>{{item.first_name}}</td>
           <td>{{item.last_name}}</td>
           <td>{{item.email}}</td>
         </tr>
       </template>
     </tbody>
   </table>
   </div>

  <div hidden$="[[!goUsuariosAgregar]]">
   <componente-usuarios-agregar on-regresar="regresarEvent"></componente-usuarios-agregar>
  </div>

    <iron-ajax
      id="getUsuarios"
      auto
      url="http://localhost:3000/techu/v2/users/"
      handle-as="json"
      on-response="showData">

  </template>
  <script>
  class ComponenteUsuarios extends Polymer.Element {
    static get is() { return 'componente-usuarios'; }

    showData(data) {
      this.goUsuariosBuscar = true;
      this.goUsuariosAgregar = false;
      this.usuarios = data.detail.response;
    }

    agregar_usuario() {
      this.goUsuariosBuscar = false;
      this.goUsuariosAgregar = true;
    }

    regresarEvent(e) {
      this.$.getUsuarios.generateRequest();
      this.goUsuariosBuscar = true;
      this.goUsuariosAgregar = false;
    }

  }
  window.customElements.define(ComponenteUsuarios.is, ComponenteUsuarios);
  </script>
</dom-module>
