<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="componente-login-style.html">


<dom-module id="componente-login">
 <template>
   <style include="componente-login-style"></style>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
     <div class="container" >
       <h1>BBVA</h1>
       <h4>Sign in</h4>
         <div class="card" style="width: 30rem;" alt="Responsive card">
           <div class="card-body">
             <div class="form-group">
               <label for="exampleInputEmail1">Email</label>
               <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" value="{{email::input}}">
             </div>
             <div class="form-group">
               <label for="exampleInputPassword1">Password</label>
               <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" value="{{password::input}}">
             </div>
             <div class="alert alert-danger" hidden$="[[!credenciaslesInvalidas]]">Usuario y/o contraseña inválida</div>
             <div class="alert alert-danger" hidden$="[[!errorSistema]]">Ocurrió un error en el sistema</div>
             <button  class="btn btn-primary" on-click="login">Login</button><br></br>
           </div>
        </div>
     </div>

   <iron-ajax
     id="doLogin"
     url="http://localhost:3000/techu/v2/login"
     content-type="application/json"
     method="POST"
     handle-as="json"
     on-response="manageAJAXResponse"
     on-error="showError">
 </template>

 <script>
 class ComponenteLogin extends Polymer.Element {
 static get is() { return 'componente-login'; }
 static get properties() {
   return {
     email: {
       type: String
     }, password: {
       type: String
     },credenciaslesInvalidas: {
       type: Boolean,
       value: false
     },errorSistema: {
       type: Boolean,
       value: false
     },
     first_name: {
       type: String
     },
     last_name: {
       type: String
     },
     idusu:{
       type: String
     }
   };
 }

 login(e) {
   var loginData = {
     "email" : this.email,
     "password" : this.password
   };
   this.errorSistema = false;
   this.$.doLogin.body = JSON.stringify(loginData);
   this.$.doLogin.generateRequest();
 }

 manageAJAXResponse(data) {
   this.idusu = data.detail.response.userid;
   this.first_name = data.detail.response.name;
   if ( data.detail.response.userid!=undefined || data.detail.response.user!=undefined ) {
     this.credenciaslesInvalidas = false;
     this.dispatchEvent(new CustomEvent('loginok',
                        {detail:{idusu:this.idusu, name: this.first_name, email: this.email}}));
   } else {
     this.credenciaslesInvalidas = true;
     console.log('Usuario no válido ###');
   }
 }

 showError(error) {
   this.credenciaslesInvalidas = false;
   this.errorSistema = true;
   console.log("Hubo un error");
   console.log(error);
 }

 }
 window.customElements.define(ComponenteLogin.is, ComponenteLogin);

 </script>
</dom-module>
