<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html" />
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="componente-movimientos">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   <h4>Movimientos de la cuenta: {{item.nroCuenta}}</h4>
   <table class="table table-striped">
     <thead>
       <tr>
         <th scope="col">Número Movimiento</th>
         <th scope="col">Fecha</th>
         <th scope="col">Descripción</th>
         <th scope="col">Importe</th>
         <th scope="col">ITF</th>
       </tr>
     </thead>
     <tbody>
       <template is="dom-repeat" items="{{movimientos}}" as="itemsMov">
         <tr>
           <td>{{itemsMov.idmov}}</td>
           <td>{{itemsMov.fecha}}</td>
           <td>{{itemsMov.descripcion}}</td>
           <td>S/ {{itemsMov.monto}}</td>
           <td>S/ {{itemsMov.itf}}</td>
         </tr>
       </template>
     </tbody>
   </table>
   <button type="submit" class="btn btn-primary" on-click="regresar">Regresar</button>
   
    <iron-ajax
      id="getMovements"
      url="http://localhost:3000/techu/v2/users/accounts/{{idcue}}/movements"
      handle-as="json"
      method="GET"
      on-response="showMovement">
  </template>
  <script>
  class ComponenteMovimientos extends Polymer.Element {
    static get is() { return 'componente-movimientos'; }
    static get properties() {
      return {
        idcue : {
          type: String,
          observer: '_idChanged'
        }, movimientos: {
          type: Array
        }, muestraMovs: {
          type: Boolean,
          value: true
        }, muestraTransfers: {
          type: Boolean,
          value: false
        }
      };
    }

    _idChanged() {
      this.$.getMovements.generateRequest();
    }

    showMovement(data) {
      console.log('Entró a showMovement');

//      this.movimientos = data.detail.response.movimientos;
      this.set('movimientos',data.detail.response.movimientos);
      console.log(this.movimientos);
//      this.muestraMovs = true;
//      if (data.detail.response.idcue != undefined || data.detail.response.idcuenta != undefined) {
//        this.muestraMovs = true;
//        this.muestraCuentas = false;
//      } else {
//        this.muestraMovs = false;
//        console.log("Error en movimientos");
//      }
    }

    regresar() {
      this.dispatchEvent(new CustomEvent('regresar',
                         {detail:{idcue:this.idcue,}}));
    }
  }

  window.customElements.define(ComponenteMovimientos.is, ComponenteMovimientos);
  </script>
</dom-module>
